body{
    background-image: "background.jpg";
    background-size: cover;
    background-position: center;
}

.heading{
    width: 100%;
    font-size: 23px;
    margin: 0px;
    box-shadow: 5px 5px 5px gray;
}

.div_1{
    float: none;
    background-color: white;
    border-radius: 15px;
    padding: 15px;
    color: black;
    font-size: 17px;
    box-shadow: 5px 5px 5px gray;
}
.heading_div2{
    font-size: 15px
}   

p{
    font-size: 17px;
    box-shadow: 5px 5px 5px gray;
    border-radius: 15px;
    color: black;
}

#footer{
    color: black;
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100% !important;
    line-height: 3;
    font-size: 15px;
    left:0 !important;
}

canvas{
    border-radius: 15px;
    border: black 3px solid;
    box-shadow: 5px 5px 5px gray;
    margin-top: 75px;
}